# Ignore oversized datasets that exceed GitHub's 100MB limit
fast_scrape/gdprhub_machine_translations.csv
fast_scrape/gdprhub_machine_translations.json
# Also ignore other common large binary types in fast_scrape
fast_scrape/*.zip
fast_scrape/*.tar
fast_scrape/*.tar.gz
fast_scrape/*.7z
fast_scrape/*.mp4
fast_scrape/*.mov
fast_scrape/*.bin
fast_scrape/*.iso
